.top-nav__logo {
    max-height: 5vh;
}

.top-nav__menu {
    /* flex-direction: row; */
    padding: 10px;
    li {
        list-style: none;
        padding: 10px;
    }
    a {
        &:hover{
            text-decoration: none;
        }
    }
    
}
