.my-skills__skill-content{
    .progress {       
        .progress-bar{
            background-color: green;
        }
    }
    .my-skills__title {
        margin-top: 10px;
        margin-bottom: 0;
    }
}



